*			text=auto

*.htaccess	eol=lf
*.cgi		eol=lf
*.sh		eol=lf

*.css		text
*.htm		text
*.html		text
*.js		text
*.json		text
*.php		text
*.txt		text
*.md		text

*.png		-text
*.gif		-text
*.jpg		-text
dist/ export-ignore
icons/ export-ignore
scripts/ export-ignore
src/ export-ignore
theme/ export-ignore
.editorconfig export-ignore
.eslintrc.cjs export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.stylelintrc export-ignore
ckeditor5.metadatajson export-ignore
package-lock.json export-ignore
package.json export-ignore
